# Copy this to Vercel environment variables

NEXT_PUBLIC_API_URL=https://discord-clash-api.onrender.com
NEXTAUTH_URL=https://your-app.vercel.app
# Generate with: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
NEXTAUTH_SECRET=a28385a53ce216f162a05b9648b4fc77c0db133ccfc0638522d84abdc56696a6

DISCORD_CLIENT_ID=1492216890745946122
DISCORD_CLIENT_SECRET=4Oy8Z_8IlKqpw8whLnLljYZNI8wckNHG
