# These are set in Vercel → Settings → Environment Variables

NEXT_PUBLIC_API_URL=https://discord-clash-api.onrender.com
NEXTAUTH_URL=https://disco-plus.vercel.app
NEXTAUTH_SECRET=3dd1c81f78f823c37ed61c324a43864f1abf0ffaa7f5662c838ddcb9b2d1c940

DISCORD_CLIENT_ID=1492216890745946122
DISCORD_CLIENT_SECRET=<your_discord_client_secret>
